/node_modules
/public/hot
/public/upload
/public/quotation
/public/storage
/storage/*.key
/vendor
.env
.sql
.zip
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
/storage/logs/laravel.log
*.env
